:root {
  --primary-blue: #1e3a8a;
  --secondary-blue: #1d4ed8;
  --dark-blue: #0b1f6d;

  --light-gray: #f3f4f6;
  --border-gray: #d1d5db;
  --text-gray: #6b7280;

  --white: #ffffff;
}

* {
  box-sizing: border-box;
  background-color: var(--white);
  font-family: sans-serif;
}
#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  height: 5rem;
  width: 5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--dark-blue);
  border-radius: 50%;
}

#home-img-section {
  display: none;
}

#login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-title {
  color: var(--primary-blue);
  font-size: 2rem;

}

#login-inputs {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: solid black;
}

.input-field {
  width: 100%;
  padding: 1rem 1.5rem;
  display: inline-block;
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.input-field:focus {
  border: 2px solid var(--dark-blue);
  outline: none;
}

.input-field::placeholder {
  color: var(--text-gray);
}

/* ///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

@media screen and (min-width: 600px) {
  #home-img-section {
    display: inline;
  }
}
/* ///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

@media screen and (min-width: 961px) {
}
