:root {
  --primary-blue: #1d4ed8;
  --secondary-blue: #1e3a8a;
  --dark-blue: #0b1f6d;

  --light-gray: #f3f4f6;
  --border-gray: #d1d5db;
  --text-gray: #6b7280;

  --white: #ffffff;
}
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  background-color: var(--white);
  font-family: sans-serif;
  border: 0;
  margin: 0;
}
#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  height: 5rem;
  width: 5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary-blue);
  border-radius: 50%;
}

#home-img-section {
  display: none;
}

#login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-title {
  color: var(--primary-blue);
  font-size: 2rem;
}

#login-inputs {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-field {
  width: 100%;
  padding: 1rem 1.5rem;
  display: inline-block;
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.input-field:focus {
  border: 2px solid var(--dark-blue);
  outline: none;
  color: var(--dark-blue);
}

.input-field::placeholder {
  color: var(--text-gray);
}

.button {
  width: 100%;
  padding: 1rem 1.5rem;
  display: inline-block;
  border: 1px solid var(--primary-blue);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--primary-blue);
}

#signUp-link {
  padding: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  color: var(--dark-blue);
}

/* ///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

@media screen and (min-width: 481px) {
}
/* ///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

@media screen and (min-width: 960px) {
  #page-header {
    display: none;
  }
  #login-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: calc(100vh - 5rem);
  }

  #title {
    background-color: transparent;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bold;
  }

  #home-img-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    background-image: url(../assets/img/homeBK.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10rem;
  }

  #home-img-section h1 {
    color: var(--white);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  #home-img-section p {
    color: var(--light-gray);
    text-align: center;
    background-color: transparent;
    font-size: 1.2rem;
  }

  #login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
